<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <img src="../../../assets/img/logo.png" alt="">
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
    </div>
</nav>